<template>
  <div>
    <h3>Cadastro de Item</h3>
    <div class="campos">
      <div class="edit">
        <label>Codigo</label>
        <input
          type="number"
          name="id"
          v-model="dados.id"
        >
      </div>
      <div class="edit">
        <label>Nome</label>
        <input
          type="text"
          name="nome"
          style="width: 290px"
          v-model="dados.nome"
        >
      </div>
      <div class="edit">
        <label>Valor</label>
        <input
          type="number"
          name="valor"
          v-model="dados.valor"
        >
      </div>

      <input
        type="button"
        Value="Salvar"
        @click="salvarItem"
      />
    </div>
  </div>
</template>

<script>
import { inject, ref } from "vue";
import { useRouter, useRoute } from "vue-router";

export default {
  setup() {
    const axios = inject("axios");
    const router = useRouter();
    const rota = useRoute();
    const dados = ref({});

    function carregarDados(id) {
      if (id) {
        axios
          .get(`http://localhost:3000/item/${id}`)
          .then((resposta) => {
            if (resposta.data.sucesso) {
              dados.value = resposta.data.dados;
            } else {
              console.log(resposta.data.mensagem);
            }
          })
          .catch((err) => {
            console.log(err);
          });
      }
    }
    carregarDados(rota.params.id);
    /*  const id = ref();
    const nome = ref();
    const valor = ref();
    */

    function salvarItem() {
      axios
        .post("http://localhost:3000/item", dados.value)
        .then((resposta) => {
          if (resposta.data.sucesso) {
            router.push("/itens");
          } else {
            console.log(resposta.data.mensagem);
          }
        })
        .catch((err) => {
          console.log(err);
        });
    }

    return {
      salvarItem,
      /* id,
      nome,
      valor,*/
      dados,
    };
  },
};
</script>

<style>
.campos {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 10px;
}
.edit {
  width: 400px;
  display: flex;
  align-items: start;
}
.edit > label {
  width: 100px;
}
</style>