<template>
  <div>
    <h3>Cadastro de Item</h3>
    <div class="campos">
      <Edit
        type="number"
        label="Codigo"
        v-model="dados.id"
      />
      <Edit
        type="text"
        label="Nome"
        :style="{width: '290px'}"
        v-model="dados.nome"
      />
      <Edit
        type="number"
        label="Valor"
        v-model="dados.valor"
      />

      <input
        type="button"
        Value="Salvar"
        @click="salvarItem"
      />
    </div>
  </div>
</template>

<script>
import { inject, ref } from "vue";
import { useRouter, useRoute } from "vue-router";
import Edit from "@/components/Edit";
import notify from "devextreme/ui/notify";
export default {
  components: { Edit },
  setup() {
    const axios = inject("axios");
    const router = useRouter();
    const rota = useRoute();
    const dados = ref({});

    function carregarDados(id) {
      if (id) {
        axios
          .get(`http://localhost:3000/item/${id}`)
          .then((resposta) => {
            if (resposta.data.sucesso) {
              dados.value = resposta.data.dados;
            } else {
              notify(resposta.data.mensagem, "error", 1000);
            }
          })
          .catch((err) => {
            console.log(err);
          });
      }
    }
    carregarDados(rota.params.id);
    /*  const id = ref();
    const nome = ref();
    const valor = ref();
    */

    function salvarItem() {
      axios
        .post("http://localhost:3000/item", dados.value)
        .then((resposta) => {
          if (resposta.data.sucesso) {
            notify("Salvo com sucesso", "success", 1000);
            router.push("/itens");
          } else {
            notify(resposta.data.mensagem, "error", 5000);
          }
        })
        .catch((err) => {
          console.log(err);
        });
    }

    return {
      salvarItem,
      /* id,
      nome,
      valor,*/
      dados,
    };
  },
};
</script>

<style>
.campos {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 10px;
}
.edit {
  width: 400px;
  display: flex;
  align-items: start;
}
.edit > label {
  width: 100px;
}
</style>