<template>
  <div>
    <h1>Items</h1>
    <router-link to="/item"> Novo Item </router-link>
    <DxDataGrid
      :data-source="items"
      :row-alternation-enabled="true"
      key-expr="id"
      :show-borders="true"
    >
      <DxColumn data-field="id" />
      <DxColumn data-field="nome" />
      <DxColumn
        type="buttons"
        :width="110"
        caption="Ações"
      >
        <DxButton
          caption="Editar"
          icon="edit"
          @click="editar"
        />
        <DxButton
          text="Excluir"
          icon="trash"
          @click="deletar"
        />
      </DxColumn>
    </DxDataGrid>
  </div>
</template>

<script>
import { ref, inject } from "vue";
import { useRouter } from "vue-router";
import DxDataGrid, { DxColumn, DxButton } from "devextreme-vue/data-grid";
import { confirm } from "devextreme/ui/dialog";
export default {
  components: { DxDataGrid, DxColumn, DxButton },
  setup() {
    const axios = inject("axios");
    const items = ref([]);
    const router = useRouter();

    function carregarLista() {
      axios
        .get("http://localhost:3000/items")
        .then((resposta) => {
          items.value = resposta.data;
        })
        .catch((err) => {
          console.log(err);
        });
    }

    function deletar(item) {
      confirm("Tem certeza que deseja deletar o item?", "Exclusão").then(
        (result) => {
          if (result) {
            const id = item.row.data.id;
            axios
              .delete(`http://localhost:3000/item/${id}`)
              .then(() => {
                carregarLista();
              })
              .catch((err) => {
                console.log(err);
              });
          }
        }
      );
    }

    function editar(item) {
      router.push(`/item/${item.row.data.id}`);
    }

    carregarLista();
    return {
      items,
      deletar,
      editar,
    };
  },
};
</script>

<style>
li {
  display: flex;
  gap: 5px;
  padding: 2px;
  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  text-align: left;
}

li:nth-child(1) {
  border-top: 1px solid;
}

.id {
  width: 15%;
}
.valor {
  width: 15%;
}
.nome {
  width: 50%;
}
input {
}
</style>