<template>
  <div>
    <h1>Items</h1>
    <router-link to="/item"> Novo Item </router-link>
    <ul>
      <li>
        <label class="id">ID</label>
        <label class="nome">Nome</label>
        <label class="valor">Valor</label>

      </li>
      <li
        v-for="item in items"
        :key="item.id"
      >
        <label class="id">{{item.id}}</label>
        <label class="nome">{{item.nome}}</label>
        <label class="valor">{{item.valor}}</label>
        <input
          type="button"
          value="Deletar"
          @click="deletar(item.id)"
        >

        <input
          type="button"
          value="Editar"
          @click="editar(item.id)"
        >
      </li>
    </ul>
  </div>
</template>

<script>
import { ref, inject } from "vue";
import { useRouter } from "vue-router";
export default {
  setup() {
    const axios = inject("axios");
    const items = ref([]);
    const router = useRouter();

    function carregarLista() {
      axios
        .get("http://localhost:3000/items")
        .then((resposta) => {
          items.value = resposta.data;
        })
        .catch((err) => {
          console.log(err);
        });
    }

    function deletar(id) {
      if (confirm("Tem certeza que deseja deletar o item?")) {
        axios
          .delete(`http://localhost:3000/item/${id}`)
          .then(() => {
            carregarLista();
          })
          .catch((err) => {
            console.log(err);
          });
      }
    }

    function editar(id) {
      router.push(`/item/${id}`);
    }

    carregarLista();
    return {
      items,
      deletar,
      editar,
    };
  },
};
</script>

<style>
li {
  display: flex;
  gap: 5px;
  padding: 2px;
  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  text-align: left;
}

li:nth-child(1) {
  border-top: 1px solid;
}

.id {
  width: 15%;
}
.valor {
  width: 15%;
}
.nome {
  width: 50%;
}
input {
}
</style>