 body {
     background-color: black;
 }

 label {
     color: red;
 }
 input[type="submit"] {
     background-color:mediumslateblue
}

input[type="text"] {
  background-color: mediumseagreen 
}
 p {
     color: chartreuse;
 }

 .campos {
     display: flex;
    justify-content: left; 
 }