<template>
  <div class="edit">
    <label>{{label}}</label>
    <input
      :type="type"
      v-model="valor"
      :style="style"
    >
  </div>
</template>

<script>
import { computed } from "vue";
export default {
  props: ["label", "type", "style", "modelValue"],
  emit: ["update:modelValue"],
  setup(props, context) {
    const valor = computed({
      get() {
        return props.modelValue;
      },
      set(val) {
        context.emit("update:modelValue", val);
      },
    });

    return {
      valor,
    };
  },
};
</script>

<style scoped>
.edit {
  width: 400px;
  display: flex;
  align-items: start;
}
</style>